html, body, h1 {
  padding: 0;
  margin: 0px;
  font-family: roboto, sans-serif;
}
:root{
  --bcolor-skills:rgba(10, 57, 212, 0.733);
  --bcolor-experince:rgba(253, 253, 2, 0.432);

  --color-list-style: #ff6b08;
}
.cv{
  padding: 20px 20px;
  min-width: 800px;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid gainsboro;
  background-color: rgba(214, 220, 220, 0);
  display: flex;
}

.leftBar{
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bcolor-skills);
}
.cvFoto{
  margin-bottom: 10px;
 }
 .cvFoto img {
  display: block;
  margin: 0px auto ;
  border-radius: 50%;
 }

.specialistName{
  padding-bottom: 30px;
  text-align: center;
  font-size: 1.8em;
  color: rgb(3, 3, 50);
  padding-bottom: 10px;
}
.svg_icon{
  padding: 0 5px 0 0;
  width: 15px;
  height: 15px;
  fill: var(--color-list-style);
}
.contacts .list{
  /* background-color: lightcyan; */
  font-weight: 500;
  list-style: none;
  padding-left: 17px;
  margin: 0;
  font-size: 16px;
}
.tech_skills{
  margin-bottom: 5px;
}
.tech_skills .list{
  /* background-color: lightsalmon; */
  margin: 0;
  }
.contacts{
  width: max-content;
  line-height: 1.5;
  margin-bottom: 3px;
}
.skillsItem{
  color: var(--color-list-style);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  /* margin-left: 65px; */
  /* margin-right: 40px; */
}
.soft_skills{
  margin-bottom: 5px;
}
.soft_skills .list{
  margin: 0;
}
.skillsText{
  color: #0a0a0a;
}

.rightBar{
  padding-top: 10px;
  padding-left: 20px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bcolor-experince);
}

.title{
  text-align: center;
  font-size: 2vw;
}
.jobTitle{
  margin-bottom: 20px;
  /* font-size: large; */
  font-size: 1.5em;
  color: rgb(3, 3, 50);
}
.experince{
  margin: 0;
  margin-bottom: 5px;
}
/* .specialistName{
  font-size: 1.8em;
  color: rgb(3, 3, 50);
} */
.nameProject{
  display: inline-block;
  font-weight: 600;
  margin: 0;

}
.content .list{
  padding-left: 20px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.5;
}
.applied_technologies{
  margin: 0;
}
.description{
  margin: 0;
  margin-bottom: 5px;
}
.experience{
  margin: 5px 0;
}
.firmExperience{
  font-weight: 500;
  margin: 0;
}
.add{
  display: block;
  font-size: 14px;
  color: rgb(104, 100, 100);
  margin-left: 5px;
  line-height: 1.5;
  font-weight: 500;
}
.workExperience{
  margin-bottom: 10px;
}
.educationBlock{
  margin-bottom: 10px;
  line-height: 1.5;

}
.education{
  margin: 0;
  font-weight: 500;
}
.specialist{
  margin: 0;
  font-weight: 500;
}
.educationTime{
  margin: 0;
}
.technologies{
  margin: 0;
}